@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');


body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.header-logo {
    width: 34px;
    height: 62px;
    aspect-ratio: 0.63;
}

.header-title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
}

.header-nav {
    display: flex;
    gap: 15px;
}

.header-link {
    text-decoration: none;
    color: #0788FF;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-right: 60px;
    margin-left: 40px;
}

.header-user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-avatar {
    width: 51px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.user-login {
    text-decoration: none;
    font-size: 30px;
    color: #0788FF;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

@media (max-width: 768px) {
    .header-title, .header-link, .user-login {
        font-size: 20px;
    }

    .header-link {
        margin-right: 20px;
        margin-left: 10px;
    }
}
